@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Lato');

body, h1, h2, h3, h4, h5, h6{
  margin: 0;
}

div, section, article, input{
  box-sizing: border-box;
}

.container{
  display:flex;
  flex-wrap: wrap;
  background-image: url('../images/background.jpg');
  background-size: cover;
  min-height: 100vh;
}

.box{
  width: 100%;
}

.judul-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 0 auto;
}

.judul{
  color: yellow;
  font-family: 'Boogaloo', cursive;
  font-size:2.5em;
  max-width: 100%;
  margin-top:0.5em; 
  margin-bottom:0.5em;
  margin-left: auto;
  margin-right: auto;
}

.caklontong img{
  display: block;
  width: 100%;
  height: 70vh;
  margin-right: auto;
  margin-left: auto;
  z-index: -1;

}

.quiz{
  color: white;
  border-radius: 5px;
  padding: 1.5em;
  background: linear-gradient(to bottom right,#223A5E,black);
  font-size: 0.9em;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

.answer-wrapper{
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.answer{
  width: 2em;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.1em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 0.23em;
}


#submit{
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: tomato;
  border-color: #f8f9fa;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5em;
  font-size: .8em;
  line-height: 1.5;
  border-radius: .25em;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-left: 2em;
}

.show-answer{
  margin-left: 1em;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #17a2b8;
  border-color: #f8f9fa;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5em;
  font-size: .8em;
  line-height: 1.5;
  border-radius: .25em;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.true-false{
  width: 2em;
}

.copyright{
  font-size: 0.8em;
  color: white;
  font-family: 'Lato', sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (min-width:500px){

  .judul-wrapper{
    margin-bottom: 2em;
  }

  .caklontong{
    width: 50%;
    max-height: 100%;
  }

  .caklontong img{
    height: 70vh;
    max-height: 100vh;
  }

  .quiz{
    width: 50%;
    max-height: 50vh;
  }

  .answer-wrapper{
  margin-top: 1em;
  }

}


@media screen and (min-width:800px){
  .judul{
    font-size: 3em;
  }
}

@media screen and (min-width:1000px){

  .caklontong img{
    height: 80vh;
    max-height: 100vh;
  }

  .answer-wrapper{
    margin-top: 1.5em;
  }
}
